<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="#" th:href="@{/styles/vendored/bootstrap.min.css}" rel="stylesheet">
    <link href="#" th:href="@{/styles/vendored/mdb.min.css}" rel="stylesheet">
    <link href="#" th:href="@{/styles/vendored/all.css}" rel="stylesheet">
    <link href="#" th:href="@{/styles/index.css}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#262626">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#262626">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#262626">
    <title>Art Store</title>
</head>
<body>
<header style="height: auto">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container d-flex justify-content-center">
            <a class="navbar-brand font-weight-bold" th:href="@{/}">Art Store</a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home</a>
                    </li>
                </ul>
            </div>
            <ul class="navbar navbar-nav ms-auto">
                <a sec:authorize="!isAuthenticated()" class="fa fa-user text-white" th:href="@{/login}"></a>
                <a sec:authorize="hasRole('ADMIN')" class="fa fa-cogs text-white mx-3" th:href="@{/admin}"></a>
                <a sec:authorize="isAuthenticated()" class="ml text-white" th:href="@{/logout}">Log out</a>
            </ul>
        </div>
    </nav>
</header>
<main class="mt-5">
    <div class="container text-center">
        <p>Admin Panel</p>
    </div>
</main>
<footer>
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Instagram -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://instagram.com/mairnart" target="_blank"
               role="button"
            ><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://www.linkedin.com/in/mariana-leschenko-0521291b5/" target="_blank" role="button"
            ><i class="fab fa-linkedin-in"></i></a>

            <!-- ArtStation -->
            <a class="btn btn-outline-light btn-floating m-1"
               href="https://www.artstation.com/mair" target="_blank" role="button"
            ><i class="fab fa-artstation"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        Mariana Leshchenko
    </div>
    <!-- Copyright -->
</footer>
</body>

<script type="application/javascript" th:src="@{/js/vendored/mdb.min.js}"></script>
<script type="application/javascript" th:src="@{/js/vendored/bootstrap.min.js}"></script>
</html>
