html, body, header, #intro {
    height: 100%;
}

.img {
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.hr-light {
    color: white;
}

.carousel-work {
    margin: 0 auto;
    width: 50%;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: linear-gradient(0deg, #151515, transparent 25%)
}

.carousel-caption-overlay {
    z-index: 999;
}

#carouselMyWork > * {
    transition: 250ms opacity;
}

#carouselMyWork > .carousel-inner .carousel-item * {
    transition: 250ms opacity;
}

#carouselMyWork:hover > .carousel-indicators {
    opacity: 0;
}

#carouselMyWork:hover > .carousel-inner .carousel-item .carousel-caption {
    opacity: 0;
}

#bgBanner {
    height: 100vh;
    object-fit: cover;
}

@media (max-width: 1050px) {
    #carouselMyWork {
        width: 75%;
    }
}

@media (max-width: 600px) {
    #carouselMyWork {
        width: 100%;
    }
}
